body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

/* NAV LAYOUT START*/
nav {
  position: fixed;
  top: 0px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}

nav ul li {
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #eee;
  color: #9199cc;
  flex: 1 1 auto;
}

nav ul li:hover {
  background-color: #97cf93;
  color: #eee;
}

.home-btn {
  border-radius: 10px 0 0 10px;
}

.contact-btn {
  border-radius: 0 10px 10px 0;
}

/* NAV LAYOUT END*/


a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

header h1 {
  font-size: 3em;
  padding-right: 20px;
}

header h2 {
  text-align: center;
  opacity: 0.7;
}

header h2 span {
  color: #666;
}

#explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 91px;
}

.tour-embed {
  padding: -20px;
  margin: 0 auto;
  height: calc(100vh - 200px);
  width: 100%;
  border: none;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  flex: 1;
}

#explore iframe {
  min-height: 500px;
}

#contact {
  padding-top: 91px;
  height: 100vh;
  text-align: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*background-color: rgba(145, 153, 204, 0.55);*/
  text-align: center;
  margin: 0 auto;
}

form #name,
form #email {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

form input {
  display: block;
  text-align: center;
  box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.5);
}


form textarea {
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 14px;
  padding: 15px;
  resize: none;
  width: 75%;
  height: 200px;
  box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.5);
}

form #submit {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d7ff8c;
  border: none;
  border-radius: 10px;
  font-weight: 800;
  font-size: 1.1em;
}

form #submit:hover {
  cursor: pointer;
  color: #8cafff;
  transform: scale(1.1);
  transition: 0.5s;
}


/*animations / keyframes */
@keyframes logo-flip {
  0% {transform: rotateY(0deg);}
  50% {transform: rotateY(35deg);}
  100% {transform: rotateY(0deg);}
}



/* media queries */

@media (max-width: 400px) {
  header {
    flex-direction: column;
  }
  header h1 {
    padding: 0;
  }
}

@media (max-width: 350px) {
  form textarea {

  }
}
